.todo-filter {
    background-color: var(--clr1bg);
    padding: 1em;
    margin: 1em 0;
    display: flex;
    flex-direction: column;
}

.todo-filter h2{
    align-self: center;
}

.todo-filter form {
    display: flex;
    justify-content: space-evenly;
}

/* .todo-filter input{
    margin-inline-start: -70px;
} */

